# Eclipse debug files ???
*.in
*.o
*.swp
*.zip
*.lo
*.la

*~


.metadata/.plugins/*
.metadata/.lock
.metadata/.log
pos/Debug/pos

pos/Debug/*.d
pos/Debug/Common/*.d
pos/Debug/FileOps/*.d
pos/Debug/GetData/*.d
pos/Debug/Statistics/*.d
pos/Debug/src/*.d

pos/Debug/Common/subdir.mk
pos/Debug/FileOps/subdir.mk
pos/Debug/GetData/subdir.mk
pos/Debug/Statistics/subdir.mk
pos/Debug/makefile
pos/Debug/src/subdir.mk
pos/Debug/subdir.mk

.deps
.libs
build-aux
autom4te.cache
config.log
config.status

aclocal.m4
config.h
configure
libtool
stamp-h1
pos/tests/check_all

pos/Common/Makefile
pos/FileOps/Makefile
pos/GetData/Makefile
pos/Makefile
pos/Statistics/Makefile
pos/src/Makefile
pos/target/
pos/tests/Makefile

